$color-primary-100:#000000;
$color-primary-200:#f8f8f8;
$color-primary-300:#DF4E3C;
$color-secondary-100:#AEAEAE;
$color-secondary-200:#8D8D8D;
$color-secondary-300:#BDBDBD;
$color-secondary-400:#C4C4C4;
$color-secondary-500:#ffffff;
$color-secondary-600:#959595;
$color-secondary-700:#507A36;

@font-face {
    font-family: "Noto Sans";
      src: url("../font/NotoSans-Regular.ttf");
      src: local('☺'), 
      url("../font/NotoSans-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
    }
    @font-face {
        font-family: "Noto Sans";
          src: url("../font/NotoSans-Light.ttf");
          src: local('☺'), 
          url("../font/NotoSans-Light.ttf") format("truetype");
          font-weight: 300;
          font-style: normal;
        }
    @font-face {
            font-family: "Noto Sans";
              src: url("../font/NotoSans-SemiBold.ttf");
              src: local('☺'), 
              url("../font/NotoSans-SemiBold.ttf") format("truetype");
              font-weight: 600;
              font-style: normal;
            }
    @font-face {
                font-family: "Noto Sans";
                  src: url("../font/NotoSans-Bold.ttf");
                  src: local('☺'), 
                  url("../font/NotoSans-Bold.ttf") format("truetype");
                  font-weight: 800;
                  font-style: normal;
                }
                @font-face {
                    font-family: "Poppins";
                      src: url("../font/Poppins-Bold.ttf");
                      src: local('☺'), 
                      url("../font/Poppins-Bold.ttf") format("truetype");
                      font-weight: 800;
                      font-style: normal;
                    }
                    @font-face {
                        font-family: "Poppins";
                          src: url("../font/NotoSans-Medium.ttf");
                          src: local('☺'), 
                          url("../font/NotoSans-Medium.ttf") format("truetype");
                          font-weight: 500;
                          font-style: normal;
                        }
h1,h3,h4,h5,h6,button,input,span,p,i,b,a{
    font-family: "Noto Sans";
}
h2{
    font-family: "Poppins";
}
  h1{
    font-weight: 700;
    font-size: 50px;
  }
  h2{
    font-weight: 700;
    font-size: 50px;
  }
  h3{
    font-weight: 600;
    font-size: 30px;
  }
  h4{
    font-weight: 600;
    font-size: 25px;
    
  }
  h5{
      font-weight: 500;
      font-size: 20px;
  }
  h6{
      font-weight: 400;
      font-size: 17px;
  }
  span,p,i{
      font-size: 20px;
      font-weight: 400;
  }
  b{
      font-size: 20px;
  }
header{
    background-image: url('../img/AdobeStock_192821860 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;

    .nav-link{
        color: $color-primary-200;
        font-size: 15px;;
    }

    span,h1,h2,h3,h4,p{
        color:$color-primary-200;
    }
}
.list-of-cars div.col-md-3{
    margin-top: 20px;
}
#cars-sec{
background-color: $color-primary-200;

.card{

    background-color: $color-secondary-500;
    box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);

    &:hover{
        opacity: 0.8;
        transition: 0.3s ease-in-out;
    }
    .block-im-car{
        position: relative;

        .car-new{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $color-primary-100;
            border-radius: 0px 15px 15px 0;

            span{
                color: $color-secondary-500;
                font-size: 12px;
                padding: 5px 20px;
            }
        }
    }
    .card-title{
        display: flex;

        h4{
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 0;

        span{
            color: $color-secondary-200;
            font-weight: 300;
            font-size: 17px;
        }
    }
       
    }
.cars-iformation{
    span{
        font-size: 14px;
        font-weight: 300;
        color: $color-secondary-200;
    }
}
b{
    color: $color-primary-100;
    font-size: 20px;
    font-weight: 500;
}
}
}
#sec-email{
    background: $color-primary-100;

    h4{
        color: $color-primary-200;
        font-weight: 500;
    }
    span{
        color:$color-primary-200;
        font-size: 15px;
        font-weight: 300;
    }
    .custom-form{
     input{
        border-radius: 15px;
        background: $color-primary-100;
    }
    button{
        border-radius: 15px;
        background: $color-primary-200;
        color: $color-primary-100;
        font-size: 15px;
        min-width: 160px;
        padding: 15px;

        &:hover{
            color: $color-primary-200;
            background: $color-primary-100;
            border: 2px solid $color-primary-200;
            transition: 0.3s ease-in-out;
        }
    }
    }
}
#sec-aca
{
    background-color: $color-primary-200;

    h2{
        color:$color-secondary-100;
    }
    
.faqs{
max-width: 90%;
.faq_t {
    padding: 25px 64px 25px 32px;
    position: relative;
    border-bottom: 1px solid #C4C4C4;;
    transition: all .3s .02s ease;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;

    &:after{
        content: " ";
        display: block;
        width: 24px;
        height: 24px;
        background: url('../img/plus.png') no-repeat center;
        position: absolute;
        top: 50%;
        right: 31px;
        transform: translateY(-50%); 
        transition: all .3s .02s ease;
    }
    span{
        font-weight: 500;
        font-size: 15px;
    }
}
.faq_e {
    display: none;
    padding: 0px 24px 10px 24px;
    opacity: .7;
    line-height: 25px;
}
.faq.open{
    padding: 25px;
    background-color: $color-secondary-500;
    box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);

    .faq_t{
        border:none;
        color: $color-primary-300;
        font-size: 15px;
        font-weight: 700;

        &:after{
        background: url('../img/minus.png') no-repeat center;   
        }
    }
    .faq_e {
        display: block;
        font-weight: 300;
        font-size: 13px;
    }
}
}
}
footer{
    background-color: $color-primary-100;
}
header .col-md-8.row.mt-4 span{
    font-weight: 300;
    font-size: 15px;
}
header button.btn{
    font-size: 20px;
line-height: 27px;
color: $color-primary-200;
border:2px solid $color-primary-200;
width: 400px;
padding: 15px;
border-radius: 15px;

&:hover{
    color: $color-primary-100;
    background: $color-primary-200;
    transition: 0.3s ease-in-out;
}
}
.col .form-select{
    background-color: unset;
    border:1px solid #BDBDBD;
    border-radius: 15px;
    font-size: 15px;
    height: 100%;
     
}
.btn.btn-red-co{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background:$color-primary-300;
    color:$color-primary-200;
    font-size: 15px;
    width: 100%;
    font-weight: 300;
    padding: 10px;
    border-radius: 15px;
    
    &:hover{
        border: 2px solid $color-primary-300;
background: unset;
color: $color-primary-300;
transition: 0.3s ease-in-out;
    }
}
#cars-sec h2{
    color:$color-secondary-100;
}
.line-with-check
{
    padding-left: 1rem!important;
    padding-right: 1rem!important;

.form-check 
{
       

    .form-check-input{
background: unset;
}
.form-check-label{
    color: $color-secondary-200;
    font-size: 12px;
line-height: 16px;
}
}
}

.custom-select {
    position: relative;
    font-family: Arial;
    
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: $color-secondary-300;
    padding: 0px 16px;
    cursor: pointer;
    font-size: 12px;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: white;
    padding: 5px 0;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    /* margin: 10px; */
    border-radius: 15px;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .select-items div{
    color: $color-primary-100;
    font-weight: 300;
    margin: 5px 0;
    font-size: 12px;
}
.sortby{
    font-size: 12px;
    margin-right: 5px;
}
footer ul li a.nav-link{
color: $color-primary-200;
font-weight: 600;
font-size: 15px;
}